/* ARCHIVO popup.css */
/* ------------------------------------- */

body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
}

h2 {
  text-align: center;
  color: #444;
}

textarea {
  width: 100%;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  width: 48%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#enviar {
  background-color: #4caf50;
  color: white;
}

#guardar {
  background-color: #2196f3;
  color: white;
}

#estado {
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}
